@(user: User, title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@title</title>
		<link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
		<script src="@routes.Assets.at("javascripts/countdown.js")"></script>
	</head>

	<body style="padding-top: 50px; position: relative;">

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">eXceed Vote</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<!-- <li><a href="/">Home</a></li> -->
						<li><a href="/contestant">Contestants</a></li>
						@if(user.getRole().getName() != "Admin") {
							<li><a href="/about">About</a></li>
						}
						@if(user.getRole().getName() == "Admin") {
							<li><a href="/criteria/management">Criteria Management</a></li>
							<li><a href="/contestants/management">Contestants Management</a></li>
							<li><a href="/users/management">Users Management</a></li>
							<li><a href="/timer/management">Timer Management</a></li>
						}
					</ul>	
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;@user.getUsername()</a>
						</li>
						<li style="background-color: #e74c3c;">
							<a href="/logout" style="color: #ffffff;">Sign out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<section class="content" style="min-height: 100%;">@content</section>

		<div id="footer" style="height: auto; margin-top: 50px; background-color: black; color: white;">
			<div class="container">
				<p style="color: #999999; padding: 15px 0px 0px 0px; text-align: center;">eXceedVote by Apiwat Srisirisitthikul, Kanokphol Techarattanaprasert, Witsarut Suwanich</p>
				<p style="color: #999999; padding: 0px 0px 5px 0px; text-align: center;">Software and Knowledge Engineering, Kasetsart University</p>
			</div>
		</div>
		
	</body>

</html>