@(user: User, timer: models.Timer, criteria: List[models.Criterion], contestants: List[models.Contestant])

@import helper._

@header(user, title = "Home") {

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<!-- <div class="jumbotron">
		<div class="container">
			<h1>Countdown Timer here !</h1>
			<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
			<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
		</div>
	</div> -->
	<!-- <script type="text/javascript">
		$(document).ready(function() {
			$("#timer").countdown( new Date(2000, 0, 1) ).toString();
		});
	</script> -->
	
	<div class="jumbotron">
		<div class="container">
			<h1>eXceed Vote</h1>	
			<p><strong>Start:</strong> @timer.getStart().toString() to <strong>Finish:</strong> @timer.getFinish().toString()</p>
		</div>	
	</div>

	<div class="container">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas">
			<ul class="list-group">
				@for(criterion <- criteria) {
					<li class="list-group-item"><a href="#@criterion.getId()">@criterion.getName()</a></li>
				}
			</ul>	
		</div>
		<div class="col-xs-12 col-sm-9">
			@helper.form(routes.Vote.webVote(), 'class -> "form-horizontal") {
			@for(criterion <- criteria) {
				<div class="page-header">
					<h1 id="@criterion.getId()">@criterion.getName()</h1>	
				</div>
				@if(criterion.getType() == 1) {
				<select name="@(criterion.name)">
					@for(contestant <- contestants) {
						<option value="@contestant.id">@contestant.name</option>
					}
				</select>
				} else {
				@for(contestant <- contestants) {
				<div class="form-group">
					<label for="" class="col-sm-4 control-label">@contestant.name : </label>
					<div class="col-sm-7">
						<input type="text" class="form-control" name="@(criterion.name).@(contestant.name)" placeholder="Type score 1 to 10" value="">
					</div>
				</div>
				}
				}		
				<!-- <div class="col-sm-12"> -->
				<br><br>
				<!-- <p class="lead"></p> -->
				<!-- <p>Description</p> -->
			}
			<div style="text-align: right; margin-right: 72px;">
				<button type="submit" class="btn btn-primary">Vote</button>
			</div>
			}
		</div>
	</div>

}
