@(u: User, user: User)

@header(user, title = "User Management") {

	<div class="jumbotron">
		<div class="container">
			<h1>User Management</h1>	
			<p>Manage @u.getUsername()</p>
		</div>	
	</div>

	<div class="container">
		<div class="col-sm-3 sidebar-offcanvas"></div>
		<div class="col-xs-12 col-sm-9">

			<div class="page-header">
					<h1 id="@u.getId()">@u.getUsername()</h1>	
				</div>
				@helper.form(routes.Users.updateUser(u.getId()), 'class -> "form-horizontal") {
						<div class="form-group">
							<label for="" class="col-sm-3 control-label">Username : </label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="username" value="@u.getUsername()">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-3 control-label">Password : </label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="password" value="@u.getPassword()">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-3 control-label">Email : </label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="email" value="@u.getEmail()">
							</div>
						</div>			
						<div class="form-group">
							<label for="" class="col-sm-3 control-label">Role ID : </label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="role_id" value="@u.getRole().getId()">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-3 control-label">Contestant ID : </label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="contestant_id"value="@u.getContestant().getId()">
							</div>
						</div>

						<a href="/users/management"><button class="btn btn-default" style="float: left; margin-left: 500px;">Back</button></a>

							<button type="submit" class="btn btn-primary" style="float: left; margin-left: 5px;">Save changes</button>
				}
				@helper.form(routes.Users.deleteUser(u.getId()), 'class -> "form-horizontal") {
							<button type="submit" class="btn btn-danger" style="float: left; margin-left: 5px;">Delete</button>
				}

		</div>

}